engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*@typescript-eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*jest* 